.sidebarContainer {
    position: absolute;
    background-color: #1f364d;
    right: 0;
    top: 115px;
    bottom: 106px;
}

.open {
    width: 200px;
    display: block;
}

.closed {
    width: 0;
    display: none;
}